<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/logout">Выйти</a>

<br>
<form th:method="get" th:action="@{/admin/save}" th:object="${newUser}">

  <input type="hidden" th:field="*{id}"/>

  <label for="name">Name: </label>
  <input type="text" th:field="*{firstName}" id="name"/>
  <br><br>
  <label for="surname">Surname: </label>
  <input type="text" th:field="*{lastName}" id="surname"/>
  <br><br>
  <label for="email">Email: </label>
  <input type="email" th:field="*{email}" id="email"/>
  <br><br>
  <label for="username">Username: </label>
  <input type="text" th:field="*{username}" id="username"/>
  <br><br>
  <label for="password">Password: </label>
  <input type="password" th:field="*{password}" id="password"/>
  <br><br>
  <input type="submit" value="OK"/>
</form>
</body>
</html>